.form{
  display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 102px;
    width: 262px;
    margin-left: 38px;
    margin-top: 108px;
}
.col{
  
  background-image: url(https://pics.ebaystatic.com/aw/pics/mastercard/blue_card.png);
  width: 435px;
  height: 275px;
  margin-left: 184px;
  margin-top: 46px;
}
.col span{
  margin-top: 162px;
    margin-left: 54px;
    position: absolute;
    font-size: 24px;
}
.col h6{
  margin-top: 189px;
    margin-left: 205px;
    font-size: 15px;
}
.col p{
  margin-left: 21px;
    margin-top: -15px;
    font-size: 16px;
}

.bloc{
  display: flex;
}
.form input{
  border-radius: 6px;
    margin: 10px 10px;
    height: 19px;
    width: 231px;
}